@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic');

body {
    margin: 0;
    background-color: #80d4ea;
}

.Clock-Calendar {
    height: fit-content;
    width: fit-content;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: 'Roboto', monospace;
    font-weight: 300;
    text-align: center;
    color: white;
    font-size: 100px;
}

.Clock-Calendar:hover {
    animation: color 1s;
}